<section class="container">
  <div class="events">

    
    <div class="event-name"><%= @event.name %></div>
    

    <div>
      <span class="date"><%= @event.date %></span>
      <span class="time"><%= @event.time %></span>
    </div>
    
    <div>
      <%= @event.description %>
    </div>

    <% if present? %>
      <%= @event.image %>
    <% end %>

    <div>
      <%= link_to 'Edit', edit_event_path(@event) %> |
      <%= link_to 'Back', events_path %>
    </div>

  </div>
</section>
